* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}





.navbar{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    background-color: rgb(231, 235, 35);
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0;
}
.navbar-brand {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}
.navbar-collapse {
    align-items: center;
    justify-content: right;
}
.nav-link{
    color: blue;
}
.nav-link dropdown{
    color: blue;
}
.dropdown-menu{
    background-color: rgb(243, 168, 27);
}
.button-link{
    background-color: orange;
    color: blue;
}
.container-fluid{
    padding: 30px;
    text-align: end;
    
    display: flex;
}
/*Estilos del formulario*/
.container-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding: 20px;
    justify-content: center;
    align-content: baseline;
    background-color: rgb(243, 243, 124);
    border-radius: 4%;
    box-shadow: rgb(129, 38, 4) 2px 3px;
    
    
}
.container-form h2{
    color:blue;
    text-align: center;
    display: ruby-text-container;
    height: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container-form form div{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    background-color: orange;
}
.container-form form div input{
    text-transform: initial;
    width: 80%;
    
}
.container-form form button{
    
    color:blue;
    background-color: orange;
    text-transform: uppercase;
    margin-left:500px;
}







